
# Variáveis de ambiente
.env

# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Uploads
uploads/*

# Flutter
frontend/.dart_tool/
frontend/.packages
frontend/.pub-cache/
frontend/build/
frontend/.flutter-plugins
frontend/.flutter-plugins-dependencies

# Android
frontend/android/.gradle/
frontend/android/local.properties
frontend/android/key.properties

# IDE
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db